In [32]:
#import required packages
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

#read the data
df = pd.read_csv("F:/JupyterML/ML_Practice/datasets/AirQualityUCI.csv",sep=';',parse_dates=[['Date', 'Time']])

#check the dtypes
df.dtypes

Date_Time         object
CO(GT)            object
PT08.S1(CO)      float64
NMHC(GT)         float64
C6H6(GT)          object
PT08.S2(NMHC)    float64
NOx(GT)          float64
PT08.S3(NOx)     float64
NO2(GT)          float64
PT08.S4(NO2)     float64
PT08.S5(O3)      float64
T                 object
RH                object
AH                object
Unnamed: 15      float64
,,,,,             object
dtype: object

In [33]:
df.head()

,Date_Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Unnamed: 15,",,,,,"
0,10/03/2004 18.00.00,"2,6",1360.0,150.0,"11,9",1046.0,166.0,1056.0,113.0,1692.0,1268.0,"13,6","48,9","0,7578",NaN,NaN
1,10/03/2004 19.00.00,2,1292.0,112.0,"9,4",955.0,103.0,1174.0,92.0,1559.0,972.0,"13,3","47,7","0,7255",NaN,","
2,10/03/2004 20.00.00,"2,2",1402.0,88.0,"9,0",939.0,131.0,1140.0,114.0,1555.0,1074.0,"11,9","54,0","0,7502",NaN,NaN
3,10/03/2004 21.00.00,"2,2",1376.0,80.0,"9,2",948.0,172.0,1092.0,122.0,1584.0,1203.0,"11,0","60,0","0,7867",NaN,NaN
4,10/03/2004 22.00.00,"1,6",1272.0,51.0,"6,5",836.0,131.0,1205.0,116.0,1490.0,1110.0,"11,2","59,6","0,7888",NaN,NaN

In [34]:
df = df.iloc[:,0:14]

In [35]:
df.columns

Index(['Date_Time', 'CO(GT)', 'PT08.S1(CO)', 'NMHC(GT)', 'C6H6(GT)',
       'PT08.S2(NMHC)', 'NOx(GT)', 'PT08.S3(NOx)', 'NO2(GT)', 'PT08.S4(NO2)',
       'PT08.S5(O3)', 'T', 'RH', 'AH'],
      dtype='object')

In [38]:
df['Date_Time']

0      2004-03-10 18:00:00
1      2004-03-10 19:00:00
2      2004-03-10 20:00:00
3      2004-03-10 21:00:00
4      2004-03-10 22:00:00
5      2004-03-10 23:00:00
6      2004-03-11 00:00:00
7      2004-03-11 01:00:00
8      2004-03-11 02:00:00
9      2004-03-11 03:00:00
10     2004-03-11 04:00:00
11     2004-03-11 05:00:00
12     2004-03-11 06:00:00
13     2004-03-11 07:00:00
14     2004-03-11 08:00:00
15     2004-03-11 09:00:00
16     2004-03-11 10:00:00
17     2004-03-11 11:00:00
18     2004-03-11 12:00:00
19     2004-03-11 13:00:00
20     2004-03-11 14:00:00
21     2004-03-11 15:00:00
22     2004-03-11 16:00:00
23     2004-03-11 17:00:00
24     2004-03-11 18:00:00
25     2004-03-11 19:00:00
26     2004-03-11 20:00:00
27     2004-03-11 21:00:00
28     2004-03-11 22:00:00
29     2004-03-11 23:00:00
               ...
9327   2005-04-03 09:00:00
9328   2005-04-03 10:00:00
9329   2005-04-03 11:00:00
9330   2005-04-03 12:00:00
9331   2005-04-03 13:00:00
9332   2005-04-03 14:00:00
9333   2005-04-03 15:00:00
9334   2005-04-03 16:00:00
9335   2005-04-03 17:00:00
9336   2005-04-03 18:00:00
9337   2005-04-03 19:00:00
9338   2005-04-03 20:00:00
9339   2005-04-03 21:00:00
9340   2005-04-03 22:00:00
9341   2005-04-03 23:00:00
9342   2005-04-04 00:00:00
9343   2005-04-04 01:00:00
9344   2005-04-04 02:00:00
9345   2005-04-04 03:00:00
9346   2005-04-04 04:00:00
9347   2005-04-04 05:00:00
9348   2005-04-04 06:00:00
9349   2005-04-04 07:00:00
9350   2005-04-04 08:00:00
9351   2005-04-04 09:00:00
9352   2005-04-04 10:00:00
9353   2005-04-04 11:00:00
9354   2005-04-04 12:00:00
9355   2005-04-04 13:00:00
9356   2005-04-04 14:00:00
Name: Date_Time, Length: 9357, dtype: datetime64[ns]

In [37]:
df.dropna(inplace=True)
df['Date_Time'] = pd.to_datetime(df.Date_Time , format = '%d/%m/%Y %H.%M.%S')
data = df.drop(['Date_Time'], axis=1)
data.index = df.Date_Time

In [ ]:
#missing value treatment
cols = data.columns
for j in cols:
    for i in range(0,len(data)):
       if data[j][i] == -200:
           data[j][i] = data[j][i-1]
            
#checking stationarity
from statsmodels.tsa.vector_ar.vecm import coint_johansen
#since the test works for only 12 variables, I have randomly dropped
#in the next iteration, I would drop another and check the eigenvalues
johan_test_temp = data.drop([ 'CO(GT)'], axis=1)
coint_johansen(johan_test_temp,-1,1).eig

C:\Users\apanda88\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [ ]:
#creating the train and validation set
train = data[:int(0.8*(len(data)))]
valid = data[int(0.8*(len(data))):]

#fit the model
from statsmodels.tsa.vector_ar.var_model import VAR

model = VAR(endog=train)
model_fit = model.fit()

# make prediction on validation
prediction = model_fit.forecast(model_fit.y, steps=len(valid))

In [ ]:
#converting predictions to dataframe
pred = pd.DataFrame(index=range(0,len(prediction)),columns=[cols])
for j in range(0,13):
    for i in range(0, len(prediction)):
       pred.iloc[i][j] = prediction[i][j]

#check rmse
for i in cols:
    print('rmse value for', i, 'is : ', sqrt(mean_squared_error(pred[i], valid[i])))

In [ ]:
#make final predictions
model = VAR(endog=data)
model_fit = model.fit()
yhat = model_fit.forecast(model_fit.y, steps=1)
print(yhat)